{% extends "base.html" %}

{% block content %}
<div align="center">
{% if index<4 %}

  <p>Prompt:</p>
  <h2>{{ slides[index] }}</h2>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.next()  }}</p>
  </form>
{% else %}

  <p>Question:</p>
  <h2>{{ slides[index][0] }}</h2>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.answer.label }}<br></p>
    <p>{{ form.answer() }}</p>

    <p>{{form.next()}}</p>
  </form>
{% endif %}
</div>
{% endblock %}
